<h2 class="fw-bold fs-3 text-primary">Answers</h2>
<div class="table-responsive-lg px-3">
  <table class="table">
    <thead>
    <tr>
      <th scope="col" class="text-nowrap">#</th>
      <th scope="col" class="text-nowrap">Title</th>
      <th scope="col" class="text-nowrap">User</th>
      <th scope="col" class="text-nowrap">Details</th>
    </tr>
    </thead>
    <tbody>
      @for (answer of answers$.value; let i = $index; track answer.id) {
        <tr>
          <th scope="row">{{ i + 1 }}</th>
          <td>
            {{ answer?.survey?.title }}
          </td>
          <td>{{ answer?.user?.name }}</td>
          <td>
            <button class="btn btn-sm btn-primary px-3" type="button" data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#collapse'+i"
                    aria-expanded="false" [attr.aria-controls]="'collapse'+i">
              <i class="bi bi-chevron-expand"></i>
            </button>
          </td>
        </tr>
        <tr class="collapse" [id]="'collapse'+i">
          <td colspan="4" class="bg-body-tertiary p-3 ">
            <div class="d-flex flex-column gap-2">
              @for (question of answer.questions;let j = $index; track j) {
                <span><strong>{{ j+1 }}. Question: </strong> {{ question.answer }}</span>
              }
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="40"
      [(page)]="pageable._page"
      [pageSize]="pageable._limit"
      (pageChange)="loadData()"
    >
      <!-- [collectionSize]="40" TotalSize value should come from BE-->
    </ngb-pagination>
  </div>
</div>


