<div class="d-flex align-items-center py-4 bg-body-tertiary h-100">
  <main class="form-signin w-100 m-auto">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2 class="h4 fw-normal text-center">Welcome</h2>
      <h1 class="h2 mb-4 text-center text-success fst-italic">Survey Management</h1>

      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" autocomplete="email"
               formControlName="email" [class.is-invalid]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        <label for="floatingInput">Email address</label>
      </div>

      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" autocomplete="current-password"
               formControlName="password" [class.is-invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        <label for="floatingPassword">Password</label>
      </div>

      <button class="btn btn-primary w-100 py-2 mt-3" type="submit">Sign in</button>

      <p class="mt-5 mb-3 text-end text-body-secondary">© 2025 - aliparlatti</p>
    </form>
  </main>
</div>
